{% extends 'base.html' %}
<title>{% block title %}Client - {{ block.super }}{% endblock title %}</title>
{% block content %}
  <br>
  <div class="container">
  <form class="form-horizontal", method="POST" action="add_client">
  {% csrf_token %}
  <div class="form-group">
      <label class="control-label col-sm-2" for="client">Client:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="client" placeholder="Customer Name" name="client">
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="client_address">Address:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="client_address" placeholder="Customer Address" name="client_address">
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="client_address_short">Address in short:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="client_address_short" placeholder="Short Address" name="client_address_short">
      </div>
    </div>
    
    <div class="form-group">
      <label class="control-label col-sm-2" for="client_nick_name">Nickname:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="client_nick_name" placeholder="Customer Nickname" name="client_nick_name">
      </div>
    </div>
   <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}

