{% extends 'base.html' %}
<title>{% block title %} Chasis-{{ block.super }}{%endblock title%}</title>
{% block content %}
  <br>
<div class="container">
  <form class="form-horizontal", method="POST" action="add_chasis">
  {% csrf_token %}
  <div class="form-group">
      <label class="control-label col-sm-2" for="chasis">Chasis Model:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="chasis" placeholder="IPC-XXX" name="chasis">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2", for="with_or_without_bay">Bay:</label>
      <div class="col-sm-10">
      <select class="form-control" id="id_with_or_without_bay", name="with_or_without_bay">
        <option value="">----Select-Options---</option>
        <option value="No">Without Bay</option>
        <option value="Two">With 2 Bays</option>
        <option value="Four">With 4 Bays</option>
	      <option value="Six">With 6 Bays</option>
      </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
 </form>
 </div>
{% endblock %}
