{% extends 'base.html' %}

{% block content %}
  <h2>Welcome, {{ user.username }}!</h2>
  <p>****************************************************IPC********************************************************</p>
  {% if chasiz %}
	<br>
  {% csrf_token %}
  {{ chasis }}
  {% endif %}
  <br>
  <form method="POST" action="add_chasis">
       {% csrf_token %}
       Chasis Model:<input type='text', name='chasis'>
       <br>
       Bay:<select name = "with_or_without_bay" >
                     <option value="">----Select Options----</option>
                     <option value="No">Without Bay</option>
                     <option value="Two">With 2 Bays</option>
                     <option value="Four">With 4 Bays</option>
                     <option value="Six">With 6 Bays</option>
           </select>
       <br><br>
       <input type="submit" value="Submit">
   </form>
   {{a}}
   {% if chasiz %}Chasis {{chasis }}{% endif %}
{% endblock %}
