<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}A:Technologies{% endblock %}</title>
  </head>
  <body>
    <header>
      <h1>Avihs Technologies: Advantech Premier Partner</h1>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
        <a href="{% url 'board' %}">ASMB/AIMB</a>
	<a href="{% url 'add_client' %}">Add Client</a>
        <a href="{% url 'add_chasis' %}">Add Chasis</a>
	<a href="{% url 'create_config' %}">Create Configuration</a>
        <a href="{% url 'detail' %}">Assembly Detail</a>
      {% else %}
        <a href="{% url 'login' %}">login</a> | <a href="{% url 'signup' %}">signup</a>
      {% endif %}
      <hr>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
